body{
    background-image: url("/internal/img/footer_lodyas.png");
    font-family:MetaWebPro;
}

@font-face {
    font-family: MetaWebPro;
    src:url("/external/fonts/MetaWebPro-Normal.woff")
}

.panel{
    margin-top:30px;
    border:none;
}

.panel-main .panel-heading{
    vertical-align: middle;
    padding: 0;
    background-color: #f95252;
    color: white;
    margin-bottom: 20px;
}

.panel-main .panel-heading .welcome-heading{
    margin-top:20px;
    margin-bottom:30px;
    font-size:23px;
    display: inline-block;
}

.panel-title{
    font-weight:bold;
}

.result-container{
     min-height:300px;
     padding: 25px;
     display: inline-block;
     width: 87%;
}

#users-login{
    margin-top:60px;
}

#users-login .panel{
    border-radius: 25px;
}

#users-login .panel-heading{
    background-color:#f95252;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    color: #fff;
    display: inline-block;
    width: 100%;
}

#users-login .panel-heading p{
    float:left;
    font-size:25px;
    padding-left:20px;
    font-weight: lighter;
}

#users-login .panel-body {
    color: #777;
}

#users-login .panel-body .form-group{
    padding-left: 20px;
    padding-right: 20px;
}

#users-login .panel-body .form-group label{
    float:left;
}

#users-login .panel-body .form-group input{
    background-color: #eee;
    color: #777;
}

.navbar.navbar-inverse{
     padding-top: 1px;
     min-height: 39px;
}

.logout-btn{
    float:right;
}

.month-active {
    background-color: #f95252;
    border: 1px solid #d43f3a;
}

.month-active:hover{
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}

.month-active:focus{
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}

.username{
    font-size: 18px;
    margin-bottom: 15px;
}

.entries-table .first-tr{
    border-bottom: 2px solid #ddd;
    background-color: #f2f2f2
}

.entries-table .first-tr td{
    font-weight: bold;
}

.entries-table .removeMoneyEntry{
    float:left;
    cursor:pointer;
}

.entries-table .new-money-entry{
    width:49%;
    float:left;
}

.entries-table .new-money-entry.validateInputValue{
    width:49%;
    margin-left:2px;
    float:left;
}

.panel{
    text-align:center;
}

.debtsArea{
    display: inline-block;
    width: 808px;
}

.debtsPayArea{
    display: inline-block;
    width: 808px;
    padding-top: 10px;
    margin-top: 20px;
    border-top: 1px solid #ddd;
}

.debtsPayArea input{
    width:350px;
    margin-right:10px;
    float:right;
}

.debtsPayBtn{
    float:right;
}


